// YerCSSGrid

// SETUP ( Version 1 ) {

    $grid-use-breackpoint-0: yes;
    $grid-use-breackpoints: yes;
    $grid-breackpoint-step: 100;
    $grid-breackpoint-min: 300;
    $grid-breackpoint-max: 1000;

    $grid-use-gaps: yes;
    $grid-gap-min: 10;
    $grid-gap-step: 10;
    $grid-gap-max: 20;

    $grid-use-cols: yes;
    $grid-use-cols-push: yes;
    $grid-use-cols-pull: yes;
    $grid-cols: 12;

    $grid-use-perc: yes;
    $grid-use-perc-push: no;
    $grid-use-perc-pull: no;
    $grid-perc-step: 10;

    $grid-use-text-align-inherit: yes;

    $grid-use-top-bottom: yes;
    $grid-top-bottom-step: 10;
    $grid-top-bottom-min: 0;
    $grid-top-bottom-max: 30;

// SETUP }

// GENERATOR ( Version 1 ) {

    @mixin grid-clear() {

        &:after {

            content: "";
            display: table;
            clear: both;
        }
    }

    @mixin grid-border-box() {

        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    @mixin breakpoint( $breackpoint: 0 ) {

        @media screen and ( min-width: #{$breackpoint}px ) {

            // GAP {

                @if $grid-use-gaps == yes {

                    $i: $grid-gap-min;

                    @while $i <= $grid-gap-max {

                        .grid.gap-#{$breackpoint}-#{$i} {
                            margin-left: -$i / 2;
                            margin-right: -$i / 2;
                        }
                        .grid.gap-#{$breackpoint}-#{$i} {
                            > * {
                                padding-left: -$i / 2;
                                padding-right: -$i / 2;
                            }
                        }

                        $i:  $i + $grid-gap-step;
                    }

                }

            // GAP }

            // COLS {

                @if $grid-use-cols == yes {

                    $i: 1;

                    @while $i <= $grid-cols {

                        .col-#{$breackpoint}-#{$i} {

                            width: 100% / $grid-cols * $i;
                        }

                        $i:  $i + 1;
                    }

                }

            // }

            // COLS PUSH {

                @if $grid-use-cols-push == yes {

                    $i: 1;

                    @while $i <= $grid-cols {

                        .push-#{$breackpoint}-#{$i} {

                            margin-left: 100% / $grid-cols * $i;
                        }

                        $i:  $i + 1;
                    }

                }

            // }

            // COLS PULL {

                @if $grid-use-cols-pull == yes {

                    $i: 1;

                    @while $i <= $grid-cols {

                        .pull-#{$breackpoint}-#{$i} {

                            margin-right: 100% / $grid-cols * $i;
                        }

                        $i:  $i + 1;
                    }

                }

            // }

            // PERC {

                @if $grid-use-perc == yes {

                    $i: $grid-perc-step;

                    @while $i <= 100 {

                        .perc-#{$breackpoint}-#{$i} {

                            width: $i* 1%;
                        }

                        $i:  $i + $grid-perc-step;
                    }

                }

            // }

            // PERC PUSH {

                @if $grid-use-perc-push == yes {

                    $i: $grid-perc-step;

                    @while $i <= 100 {

                        .perc-#{$breackpoint}-push-#{$i} {

                            margin-left: $i * 1%;
                        }

                        $i:  $i + $grid-perc-step;
                    }

                }

            // }

            // PERC PULL {

                @if $grid-use-perc-pull == yes {

                    $i: $grid-perc-step;

                    @while $i <= 100 {

                        .perc-#{$breackpoint}-pull-#{$i} {

                            margin-right: $i * 1%;
                        }

                        $i:  $i + $grid-perc-step;
                    }

                }

            // }

            // TEXTALIGN INHERIT {

                @if $grid-use-text-align-inherit == yes {

                    .text-align-inherit-#{$breackpoint} {
                        text-align: inherit !important;
                    }
                }

            // }

            // TOP BOTTOM {

                @if $grid-use-top-bottom == yes {

                    $i: $grid-top-bottom-min;

                    @while $i <= $grid-top-bottom-max {

                        .top-#{$breackpoint}-#{$i} {
                            margin-top: $i * 1px;
                        }
                        .bottom-#{$breackpoint}-#{$i} {
                            margin-bottom: $i * 1px;
                        }

                        $i:  $i + $grid-top-bottom-step;
                    }

                }

            // }

        }

    }

    .grid {
        > * {
            display: inline-block;
            width: 100%;
            vertical-align: top;
        }
        @include grid-clear();
    }

    .grid.colreverse {
        direction: rtl;
        > * {
            direction: ltr;
            text-align: left;
        }
    }

    // BREAKPOINTS {

        @if $grid-use-breackpoint-0 == yes {

            @include breakpoint( 0 );
        }

        @if $grid-use-breackpoints == yes {

            $breackpoint: $grid-breackpoint-min;

            @while $breackpoint <= $grid-breackpoint-max {

                @include breakpoint( $breackpoint );

                $breackpoint: $breackpoint + $grid-breackpoint-step;
            }

        }

    // }

// GENERATOR }
